.link {
  border-radius: 6px;
  background: #0e8784;
  text-decoration: none;
  padding: 15px 31px;
  color: var(--light-cream);
  font-family: "fraunces-9pt-black";
  font-size: 18px;
  line-height: 25px;
}
