.intro {
  background-image: url("../images/Coffee-pot@1x.png"),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-blend-mode: overlay;
  border-radius: 10px;
  background-position: calc(53% + 96px) calc(100% + 0px);
  background-repeat: no-repeat;
  background-size: calc(100% + 700px) calc(100% + 300px);
  margin-bottom: 120px;
}
.intro__inner {
}
.intro__title {
}
.intro__text {
}
.link {
}
.intro__link {
}
