.services__wrapper {
  margin-bottom: 300px;
}

.services__wrapper {
  background-color: var(--main-blue);
  border-radius: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 64px;
  // padding-bottom: 666px;
  max-width: 1280px;
  height: 902px;
}
.services__title {
  font-family: "fraunces-9pt-black";
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  color: var(--light-cream);
}
.services__text {
  font-size: 11px;
  line-height: 25px;
  text-align: center;
  color: var(--light-cream);
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-top: 20px;
  margin-bottom: 40px;
}
.services__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  position: relative;
  top: 0px;
}
.card__item {
  // max-width: 573px;
  max-width: 573px;

  background-color: var(--main-darkcyan);
  border-radius: 8px;
  padding: 32px 12px 31px;
}

.card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__item:nth-child(1):before {
  content: "";
  width: 71px;
  height: 72px;
  background-image: url("../img/bean.svg");
  display: inline-block;
}
.card__item:nth-child(2):before {
  content: "";
  width: 72px;
  height: 72px;
  background-image: url("../img/present.svg");
  display: inline-block;
}
.card__item:nth-child(3):before {
  content: "";
  width: 72px;
  height: 72px;
  background-image: url("../img/van.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.card__item .card__wrapper:before {
  margin-bottom: 26px;
}

.card__item:not(:last-child) {
  margin-bottom: 18px;
}
.card__title {
  font-family: "fraunces-9pt-black";
  font-size: 19px;
  line-height: 32px;
  text-align: center;
  color: var(--light-cream);
}

.card__text {
  font-size: 13px;
  line-height: 25px;
  text-align: center;
  color: var(--light-cream);
  margin-top: 24px;
}

@media only screen and (min-width: 375px) {
  .services__wrapper {
    background-color: var(--main-blue);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 64px;
    //  padding-bottom: 666px;
    max-width: 1280px;
  }
  .services__wrapper {
    margin-bottom: 397px;
  }
  .services__title {
    font-family: "fraunces-9pt-black";
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: var(--light-cream);
  }
  .services__text {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--light-cream);
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-top: 24px;
    margin-bottom: 64px;
  }
  .services__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    position: relative;
    // top: 0px;
    // max-width: 224px;
  }
  .card__item {
    max-width: 573px;
    width: 100%;
    background-color: var(--main-darkcyan);
    border-radius: 8px;
    padding: 72px 12px 51px;
  }
  .card__item:not(:last-child) {
    margin-bottom: 24px;
  }
  .card__title {
    font-family: "fraunces-9pt-black";
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: var(--light-cream);
  }

  .card__text {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--light-cream);
    margin-top: 24px;
  }
}

@media only screen and (min-width: 600px) {
  .services__title {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }
  .services__text {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--light-cream);
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-top: 24px;
    margin-bottom: 64px;
    max-width: 540px;
    margin-inline: auto;
  }
  // .services__list {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  // }
  // .card {
  // }
  .card__item {
    // background-color: var(--main-darkcyan);
    // border-radius: 8px;
    // padding: 72px 12px 51px;
    max-width: 573px;
    width: 100%;
    // display: flex;
    // flex-direction: row;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    gap: 56px;
  }

  .card__wrapper {
    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 344px;
    text-align: left;
    // height: 700px;
  }

  .card__item:not(:last-child) {
    margin-bottom: 24px;
  }
  .card__title {
    font-family: "fraunces-9pt-black";
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: var(--light-cream);
    text-align: left;
  }

  .card__text {
    // text-align-last: left;
    font-size: 15px;
    line-height: 25px;
    text-align: left;
    color: var(--light-cream);
    margin-top: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .services__wrapper {
    height: 500px;
  }
  .card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    &__item:last-child {
      margin-bottom: 24px;
    }
    &__item {
      max-width: 300px;
      width: 100%;
      flex-direction: column;
    }
    &__wrapper {
      align-items: center;
      justify-content: center;
      padding: 0 48px 0 48px;
    }
    &__text {
      text-align: center;
    }
  }
}
